# PROBLEMA

In [15]:
# 4 horas con temperaturas mayores o igual que 70ºC
# Alguna temperatura superior a 80ºC
#la media fuera superior a 65ºC

- 4 horas con temperaturas mayores o igual que 70ºC
- Alguna temperatura superior a 80ºC
- la media fuera superior a 65ºC

In [16]:

# asigna a una variable la lista de temperaturas
temperaturas_C = [33,66,65,0,59,60,62,64,70,76,80,81,80,83,90,79,61,53,50,49,53,48,45,39]

# 1. Calcula el minimo de la lista e imprime el valor con print()


# 2. Calcula el máximo de la lista e imprime el valor con print()


# 3. Elementos de la lista que son mayores que 70ºC e imprime el resultado


# 4. cálculo de la media de temperaturas a lo largo del día e imprime resultado


# 5.1 Soluciona el fallo en el sensor estimando un valor


# 5.2 Actualización del valor estimado a las 03:00 en la lista


# Bonus: pasar la lista de ºC a grados Farenheit

#import/library

In [88]:
# imports
import matplotlib.pyplot as plt
%matplotlib inline

In [99]:
# asigna a una variable la lista de temperaturas
temperaturas_C = [33,66,65,0,59,60,62,64,70,76,80,81,80,83,90,79,61,53,50,49,53,48,45,39]

#1 / 2- LAS TEMPERATURAS MINIMA Y MAXIMA

In [91]:
# 1. Calcula el minimo de la lista e imprime el valor con print()
print("la temperatura minimal es : ")
min(temperaturas_C)

la temperatura minimal es :

0

In [92]:
# 2. Calcula el máximo de la lista e imprime el valor con print()
print("la temperatura maximal es : ")
max(temperaturas_C)

la temperatura maximal es :

90

# 3 - LAS TEMPERATURAS  >= 70ªC  ;  = 80ºC

In [22]:
# Elementos de la lista que son mayores que 70ºC e imprime el resultado
# Definicemos las variables de la temperatura limite
limite_temp = 70
alert_temp = 80
temp_media_limite = 65

- LISTA DE LAS TEMPERATURAS IGUALES O SUPERIORES A 70ºC

In [199]:
# Imprimir las temperaturas iguales o superior a 70 grados
temp_sup_70 =[]
for temp_C in temperaturas_C:
  if int(temp_C) >= limite_temp:
    temp_sup_70.append(temp_C)
print("temperaturas superiores o igual a 70º son:",temp_sup_70)

temperaturas superiores o igual a 70º son: [70, 76, 80, 81, 80, 83, 90, 79]

- DECTECCIÓN DE UNA TEMPERATURA IGUAL A 80º

In [196]:
#Definicemos las variables de la temperatura de alerta

#Verificamos si aler_temp es miembro de 
alert_temp in temperaturas_C

True

In [217]:
temp_igual_80 =[]
for temp_C in temperaturas_C:
  if int(temp_C) == alert_temp:
    temp_igual_80.append(temp_C)
print(" ******** WARNING!************")
print("hemos detectado una temperatura igual a 80º ,")
print("cambiar el generador")

 ******** WARNING!************
hemos detectado una temperatura igual a 80º ,
cambiar el generador

#4 - MEDIA DE LA TEMPERATURA A LO LARGO DEL DIA

In [95]:
#Definimos la variable de la suma de todas las temperaturas relevadas
Sum_temp = sum(temperaturas_C)
Sum_temp

1446

In [100]:
#Definimos la variable del numero de temperaturas relevadas
Num_temp = len(temperaturas_C)
Num_temp

24

In [228]:
#4. cálculo de la media de temperaturas a lo largo del día e imprime resultado
media_temp_D = Sum_temp /Num_temp
print("la media de las temperaturas del dia es:")
Sum_temp /Num_temp

la media de las temperaturas del dia es:

60.25

La media de la temperaturas del dia no es superior a 65ºC

# 5 ESTIMACIÓN DE LA TEMPERATURA A LAS 03:00

- Lista de las  temperaturas en funcion de la hora

In [218]:
#Indexamos la temperaturas en funccion de las 24 horas suponiendo el Orden de 0 a 23
list(temperaturas_C)
index= 0
for temp_C in temperaturas_C:
  print("a",index,"h", temp_C, "Cº")
  index += 1

a 0 h 33 Cº
a 1 h 66 Cº
a 2 h 65 Cº
a 3 h 0 Cº
a 4 h 59 Cº
a 5 h 60 Cº
a 6 h 62 Cº
a 7 h 64 Cº
a 8 h 70 Cº
a 9 h 76 Cº
a 10 h 80 Cº
a 11 h 81 Cº
a 12 h 80 Cº
a 13 h 83 Cº
a 14 h 90 Cº
a 15 h 79 Cº
a 16 h 61 Cº
a 17 h 53 Cº
a 18 h 50 Cº
a 19 h 49 Cº
a 20 h 53 Cº
a 21 h 48 Cº
a 22 h 45 Cº
a 23 h 39 Cº

- La temperatura a las 03:00 de la mañana

In [219]:
#Valor de la temperatura monstrado por el sensor a las 03:00
temperaturas_C[3]

0

In [220]:
#Estimacion del valor de la tempertura a las 3 horas
#Definimos Temp_H3 la temperatura a la 3 de la mañana
#Temp_H3 sera la media entre la temperatura de las 2h y de la 4h

Temp_H3 = (temperaturas_C[2] + temperaturas_C[4])/(2)
print("La estimacion de la temperatura a las 3 de la mañana es: ",Temp_H3)

La estimacion de la temperatura a las 3 de la mañana es:  62.0

#6 - CONVERSION DE LA TEMPERATURA

In [189]:
## Fórmula: F = 1.8 * C + 32
temperaturas_C[9]

76

In [188]:
#Test de la formula en un valor de la lista
## conversion de la temperatura de las 6 de ma mañana 
F= 1.8*float(temperaturas_C[9])+32
F

168.8

##Conversion de la lista en F

In [187]:
import numpy as np
Temp_F = np.array(temperaturas_C)*1.8+32
Temp_F

array([ 91.4, 150.8, 149. ,  32. , 138.2, 140. , 143.6, 147.2, 158. ,
       168.8, 176. , 177.8, 176. , 181.4, 194. , 174.2, 141.8, 127.4,
       122. , 120.2, 127.4, 118.4, 113. , 102.2])

In [209]:
#Lista de la temperaturas_convertidas a Fº
index= 0
for convtp in Temp_F:
  print("at",index,"h",convtp, "Fº")
  index+=1

at 0 h 91.4 Fº
at 1 h 150.8 Fº
at 2 h 149.0 Fº
at 3 h 32.0 Fº
at 4 h 138.2 Fº
at 5 h 140.0 Fº
at 6 h 143.60000000000002 Fº
at 7 h 147.2 Fº
at 8 h 158.0 Fº
at 9 h 168.8 Fº
at 10 h 176.0 Fº
at 11 h 177.8 Fº
at 12 h 176.0 Fº
at 13 h 181.4 Fº
at 14 h 194.0 Fº
at 15 h 174.20000000000002 Fº
at 16 h 141.8 Fº
at 17 h 127.4 Fº
at 18 h 122.0 Fº
at 19 h 120.2 Fº
at 20 h 127.4 Fº
at 21 h 118.4 Fº
at 22 h 113.0 Fº
at 23 h 102.2 Fº

#*Conclusión*

In [229]:
#4. cálculo de la media de temperaturas a lo largo del día e imprime resultado
print("la media de las temperaturas del dia es:")
Sum_temp /Num_temp

la media de las temperaturas del dia es:

60.25

In [225]:
# Imprimir las temperaturas iguales o superior a 70 grados
temp_sup_70 =[]
for temp_C in temperaturas_C:
  if int(temp_C) >= limite_temp:
    temp_sup_70.append(temp_C)
print("temperaturas superiores o igual a 70º son:",temp_sup_70)

temperaturas superiores o igual a 70º son: [70, 76, 80, 81, 80, 83, 90, 79]

In [227]:
temp_igual_80 =[]
for temp_C in temperaturas_C:
  if int(temp_C) == alert_temp:
    temp_igual_80.append(temp_C)
print(" ******** WARNING!************")
print("hemos detectado una temperatura igual a 80º ,")
print("cambiar el generador")

 ******** WARNING!************
hemos detectado una temperatura igual a 80º ,
cambiar el generador